.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.square-invisible {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: grey;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.agent.north {
  transform: rotate(0deg);
}

.agent.east {
  transform: rotate(90deg);
}

.agent.south {
  transform: rotate(180deg);
}

.agent.west {
  transform: rotate(-90deg);
}